
ion-content {
    --background:url('/assets/war.png') no-repeat center center/cover;
    background: var(--background);
}

.input{
    font-size: 300;

}

ion-item{
    --background:#da1414;
    border-radius: 10px;
    margin-bottom: 16px;

}
.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        color:gray;
        font-size: 0.9rem; 
    }
    title{
        font-size: 2rem;
    }
}
